@media (min-width: 576px) {
    .b-sidebar-container.container {
        margin-top: 0;
        width: 320px;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
    }
}
.b-sidebar-container .b-header-logotype {
    padding: 15px;
    background-color: #3f4352;
    width: 100%;
    text-align: center;
}
.b-sidebar-container .b-header-logotype a {
    color: #ffffff;
}
.b-sidebar-container .b-header-logotype a:hover,
.b-sidebar-container .b-header-logotype a:visited,
.b-sidebar-container .b-header-logotype a:focus {
    text-decoration: none;
}
.b-sidebar-container .b-header-logotype a span {
    font-weight: normal;
}
.b-sidebar-container .b-header-logotype h5 {
    margin-bottom: 0;
}